{% extends "base.html" %}

{% block title %} SGE - Remover Mecanico{% endblock  %}

{% block content %}
    <div class="container mt-4">
        <h3 class="display-6">Deletar Mecanico</h3>

        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Tem certeza que deseja excluir o mecanico <strong>{{object.name}}</strong>
                </p>

                <form method="post" action="">
                    {% csrf_token %}

                    <button type="submit" class="btn mt-3 btn-danger">Confirmar</button>
                </form>
                <a href=" {% url "list_mechanical" %}" class="btn btn-secondary mt-3">
                    Voltar para a Lista de Mecanicos
                </a>
            </div>
        </div>
        
    </div>
{% endblock content %}